$background:#efefef;

$gradient-a:#2196f3;

$gradient-b:#9c27b0;

$headerfootfont:#fff;

$bodytext:#333;

$boldfont:bold;

$imgURLs:
        'https://visualhunt.com/photos/xl/7/flower-bouquet-bunch-daisys.jpg',
        'https://visualhunt.com/photos/l/7/sky-silhouette-star.jpg',
        'https://visualhunt.com/photos/l/7/animal-kitten-pet.jpg';



