body {
  font-family: Arial, Helvetica, sans-serif;
  color: SlateGray;
}

.container {
  border: 1px dashed transparent;
  position:relative;
  height: 700px;
  width: auto;
}

.gameTitle {
  position:relative;
  border: 1px dotted transparent;
  height: 60px;
  width:400px;
  font-size: 60px;
  text-align: center;
  margin: 30px auto 15px auto;
}

.message {
  position:relative;
  border: 1px dotted transparent;
  height: 60px;
  width:400px;
  font-size: 22px;
  text-align: center;
  margin: 30px auto 5px auto;
}

.game-board {
  position:relative;
  height: 400px;
  width:400px;
  background-color: LightGray;
  margin: 20px auto 0 auto;
  border-radius: 5%;
}

.play-square {
  position: absolute;
  border: 1px dotted transparent;
  height: 128px;
  width: 126px;
  font-size: 150px;
  text-align: center;
  line-height: .88em;
  cursor: pointer;
}

.game-grid-line {
  position: absolute;
  background-color: DimGray;
}

.vert-line {
  height: 390px;
  width: 10px;
}
.horiz-line {
  width: 390px;
  height: 10px;
}

#left-vert {
  top: 5px;
  left:32%;
}
#right-vert {
  top: 5px;
  left:66%;
}
#top-horiz {
  top: 32%;
  left: 5px;
}
#bottom-horiz {
  top: 66%;
  left:5px;
}

#sqTopLeft {
  left: 0;
  top: 0;
}
#sqTopMiddle {
  left: 34%;
  top: 0;
}
#sqTopRight {
  left: 68%;
  top: 0;
}
#sqMiddleLeft {
  left: 0;
  top: 34%;
}
#sqMiddleMiddle {
  left: 34%;
  top: 34%;
}
#sqMiddleRight {
  left: 68%;
  top: 34%;
}
#sqBottomLeft {
  left: 0;
  top: 68%;
}
#sqBottomMiddle {
  left: 34%;
  top: 68%;
}
#sqBottomRight {
  left: 68%;
  top: 68%;
}

.resetButton {
  position:relative;
  height: 40px;
  width:135px;
  background-color:DarkGreen;
  border: 1px solid DarkGray;
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto 15px auto;
  padding: 15px 0 0 0;
  color: white;
  cursor: pointer;
}

.hide {
  display: none;
}

.align-right {
  text-align:right;
}

.align-left {
  text-align:left;
}