@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

/* Set up variables */
:root {
  --sageBrush: #3A4D1B;
  --eggCreme: #FCD5A8;
  --burntChocolate: #171112;
  --mocha: #987456;
  --coffeeCherry: #D1001D;
  --brightYellow:#E3B505;
  --darkBrown:#BB9457;
  --yellow:rgb(242, 180, 80); 
  --brown:#382923;
  --black:#191919;
  --grey:#A9B2AC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}